@using WebApplication1.Models
@model IEnumerable<Student>
    @{ 
        var options = new AjaxOptions { UpdateTargetId = "students", HttpMethod = "POST" };
    }
<table class="table" id="students">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>
                    <a href="Admin/Edit/@student.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "Delete", new { id = @student.Id }, options, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @for(int i = 1; i <= ViewBag.PagesCount; i++)
    {
        @Ajax.ActionLink(i.ToString(), "Student", new { pageNumber = i},new AjaxOptions { UpdateTargetId="students"}, new { @class="btn btn-danger"})
    }
</div>
